body{
	background-color: ghostwhite;
	line-height: 100px;
	font-family: Helvetica;
	font-size: 20px;


}

header{
	background-color: #000;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;


	
}

header h1{
	color: #0087b9;
	font-size: 30px;


}

h1, h2{
	font-family: 'Press Start 2P', cursive;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 10px solid #0087b9;


}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 20px;

}

main img{
	max-width: 100%;
}


h2{
	font-size: 20px;
	color: cadetblue;
	margin: 40px 0 10px;
}

p{
	font-family: Helvetica, Arial, serif;
	font-size: 20px;
	color: black;
}

a{
	color: #0087b9;
}

a:hover{
	background-color:cadetblue;
}

footer{
	background-color: #0087b9;
	text-align: center;
	padding: 50px;

}

footer p{
	margin: 0;
	color: ghostwhite;
}

footer p:hover{
	opacity: 0.5;
	background-color: transparent;
}

p.caption{
	color: #0087b9;
	font-style: italic;
	font-size: 15px;
	margin-top: 0px;
}